# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.venv_win
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
build/
dist/
*.spec
*.egg-info

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Project Specific
.cache/
steam-deck-repo-manager-cache/
test_steam_root/
*.log
*.webm
*.bak
plans/
